@model UniversityCommunities.Models.SalonTakvimi

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSociety.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SalonTakvimi</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SalonId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SalonId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SalonId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Fakülte", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.Fakulte_No, ViewBag.DepartmentList as SelectList, "Fakülte Seçiniz", new { @class = "" })

            @*@Html.EditorFor(model => model.uye.Uye_FakulteNo, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Uye.Uye_FakulteNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.KonferansSalonlari.SalonFakultesi, ViewBag.Faculties as SelectList, "Fakülte Seçiniz", new { })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Konferans Salonu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (ViewBag.Faculties != null)
            {
                @Html.DropDownListFor(model => model.KonferansSalonlari.id, new SelectList(" "), "Salon Seçiniz", new { @class = "" })
            }

        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.BaslangicSaatId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BaslangicSaatId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BaslangicSaatId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BitisSaatId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BitisSaatId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BitisSaatId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
