@model IEnumerable<UniversityCommunities.Models.KulupKayit>

@{
    ViewBag.Title = "ManagmentSociety";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ManagmentSociety</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kulup_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kulup_KurulusAmaci)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Fakulteler.Fakulte_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversiteKayit.Universite_Adi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kulup_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kulup_KurulusAmaci)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Fakulteler.Fakulte_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversiteKayit.Universite_Adi)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Kulup_Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
